<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/api/user/signup" method="POST">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name">
        <br>
        <label>Email</label>
        <input type="email" name="email" placeholder="Email">
        <br>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
        <br>
        <button type="submit">Signup</button>
    </form>
</body>
</html>